/*==================== RESET CSS ====================*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    z-index: 1;
}


/*==================== REM ET VARIABLES ====================*/
html {
    --wallet_investment: 71;
}

body {
    font-size: 16px;
    min-width: 320px;
    max-width: 425px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 75px;
    flex: 1;
}

p {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}

em {
    font-weight: 600;
    font-style: normal;
}

mark {
    background-color: rgba(255, 255, 255, 0);
    font-weight: 500;
}

strong {
    font-weight: 700;
}


.fs_11 {
    font-size: 11px;
}

.fs_16 {
    font-size: 16px;
}

.fs_30 {
    font-size: 30px;
}

/*==================== CLASSES UTILITAIRES ====================*/
.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}


.flex_center {
    display: flex;
    justify-content: center;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.flex_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start_center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.overflow_hidden {
    overflow: hidden;
}


/*==================== TYPE DE POLICE ====================*/
* {
    font-family: 'Montserrat', sans-serif;
}


/*==================== COLORS ====================*/
.opacity_70 {
    opacity: 70%;
}

.background_white {
    background-color: white;
}

.circle_white {
    background-color: white;
    border-radius: 100%;
}

.color_white {
    color: white;
}

.background_dark {
    background-color: #111125;
}

.color_dark {
    color: #241332;
}

.background_purple {
    background-color: #5B41B1;
}

.background_purple_strong {
    background-color: #442D90;
}

.background_green {
    background-color: #27B17C;
}

.background_orange_soft {
    background-color: #F7A827;
}

.background_orange {
    background-color: #F77F27;
}

.background_red {
    background-color: #D85B52;
}

.background_grey {
    background-color: #E5E2EB;
}

.background_blue {
    background-color: #007DD0;
}

.color_blue {
    color: #007DD0;
}

/*==================== CHART JS HIGHCHARTS ====================*/

.home_ado_chart_container {
    width: 100%;
    margin-top: -100px;
    overflow: hidden;
}

.wallet_one_ado_chart_container {
    width: 100%;
    margin-top: -50px;
    overflow: hidden;
}

/*==================== JAUGE CIRCULAIRES PROGRESSION ====================*/
.durability_cards_container_number.wallet_investment circle {
    stroke: #27B17C;
    stroke-dashoffset: calc(198 - (198 * 50) / 100);
}

.durability_cards_container_number.wallet_footprint circle {
    stroke: #CB4C60;
    stroke-dashoffset: calc(198 - (198 * 80) / 100);
}

.durability_cards_container_number.home circle {
    stroke: #CB4C60;
    stroke-dashoffset: calc(198 - (198 * 80) / 100);
}

.durability_cards_container_number.home_ado circle {
    stroke: #27B17C;
    stroke-dashoffset: calc(198 - (198 * 80) / 100);
}

.durability_cards_container_number.wallet_ado_footprint circle {
    stroke: #CB4C60;
    stroke-dashoffset: calc(198 - (198 * 70) / 100);
}

.durability_cards_container_number.wallet_ado_investment circle {
    stroke: #27B17C;
    stroke-dashoffset: calc(198 - (198 * 91) / 100);
}

/*==================== HEADER HOME ====================*/
.header_home {
    padding: 25px 35px 38px 35px;
    border-bottom-left-radius: 20% 40%;
    position: relative;
}

.header_home.ado {
    border-bottom-left-radius: 0;
}

.header_home_ananas {
    position: absolute;
    right: 5%;
    bottom: -5%;
    height: 85%;

}

.header_home_title {
    color: rgba(17, 17, 37, 1);
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
}

.header_home_title h1 {
    font-size: 14px;
    font-weight: 600;
    margin-left: -13px;
}

.header_home_title h1 img {
    width: 20px;
    margin-right: 10px;
}

.header_home_title_notification img {
    width: 18px;
}

.header_home_title_notification {
    position: relative;
}

.header_home_title_notification_number {
    font-size: 11px;
    font-weight: 700;
    color: #E5793B;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
}

.header_home_content {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 700;
}

.header_home_content_name {
    font-size: 15px;
    margin-bottom: 4px;
}

.header_home_content_name strong {
    font-size: 19px;
}

.header_home_content_name_value {
    font-size: 23px;
}

.header_home_content img {
    width: 26px;
    height: 26px;
    margin-right: 6px;
}


/*==================== HEADER WALLET ====================*/
.header_wallet {
    background-color: #f5a017;
    padding: 25px 14px 31px 14px;
    border-bottom-left-radius: 20% 40%;
}

.header_wallet.ado {
    background-color: rgba(255, 255, 255, 0);
}

.header_wallet_title {
    margin-bottom: 19px;
}

.header_wallet_title_icons {
    color: rgba(17, 17, 37, 1);
    margin: 0px 22px 0px 11px;
    display: flex;
    justify-content: space-between;
}

.header_wallet_title_icons img {
    width: 20px;
}

.header_wallet_title_notification img {
    width: 18px;
}

.header_wallet_title h1 {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}

.header_wallet_title_notification {
    position: relative;
}

.header_title_notification_number {
    font-size: 11px;
    font-weight: 700;
    color: #E5793B;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
}

.header_wallet_tabs,
.header_wallet_tab {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.header_wallet_tabs {
    justify-content: space-between;
}

.header_wallet_tab {
    justify-content: center;
}


.header_wallet_tabs a,
.header_wallet_tab a {
    text-decoration: none;
}

.header_wallet_tabs a[class="non_current"],
.header_wallet_tab a[class="non_current"] {
    color: #E9EBF2;
}

.header_wallet_tabs a[class="current"],
.header_wallet_tab a[class="current"] {
    font-weight: 600;
    color: #111125;
    background-color: white;
    padding: 4px 13px;
    border-radius: 11px;
}

.header_wallet h2,
.header_wallet h3 {
    font-size: 14px;
}

.header_wallet h2 {
    font-weight: 600;
}

.header_wallet h3 {
    text-align: center;
    font-weight: 500;
    color: white;
    margin: 8px 0px -15px 0px;
}



/*==================== MAIN HOME ====================*/

.progress {
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.progress strong {
    font-size: 20px;
}

.progress_date,
.progress_origin {
    width: 50%;
    padding: 23px 0px 28px 0px;
}

.progress_date {
    background-color: white;
    border-bottom-left-radius: 30% 50%;
}

.progress_date.ado {
    border-bottom-left-radius: 0;
    border-top-left-radius: 80px 80px;
}

.progress_origin {
    background-color: #e9ebf2;
}

.progress_date_number,
.progress_origin_number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
}

.progress img {
    width: 24px;
    height: 24px;
}


.market_title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 30px 14px 16px 36px;
}

.market_title h2 {
    font-size: 16px;
    opacity: 70%;
    font-weight: 400;
}

.market_title a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.market_title img {
    width: 20px;
    margin-left: 8px;
}

.market_evolution{
    padding-left:36px;
    z-index: 2;
}

.market_evolution h3{
    font-size: 20px;
    margin-bottom: 12px;
}
.market_evolution span{
    font-size: 30px;
    gap: 10px;
}


.profil {
    padding: 50px 24px 37px 24px;
    gap: 4%;
    border-top-left-radius: 80px 80px;
}

.profil p {
    z-index: 2;
}

.profil_state,
.profil_footprint {
    box-sizing: border-box;
    width: 50%;
    height: 139px;
    background-color: #EFEFEF;
    border-radius: 30px;
    padding: 4%;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}

.profil_state.ado,
.profil_footprint.ado {
    background-color: #2D1F5A;
}

.profil strong {
    font-size: 17px;
}

.profil_state {
    align-items: flex-end;
}

.profil_state img,
.profil_footprint img,
.profil_state.ado img,
.profil_footprint.ado img {
    position: absolute;
    z-index: 0;
}

.profil_state img {
    bottom: 0;
    right: 5%;
}

.profil_footprint img {
    bottom: -5%;
    right: -5%;
}

.profil_state.ado img {
    bottom: 5%;
    right: -5%;
}

.profil_footprint.ado img {
    bottom: -5%;
    right: -15%;
}


.article {
    background-color: rgba(17, 17, 37, 1);
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.article_link {
    margin: 0px 39px 0px 32px;
    font-size: 16px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_link h2 {
    font-size: 16px;
    font-weight: 600;
}

.article_link a {
    color: white;
    background-color: rgba(17, 17, 37, 1);
    border: solid #E4E4E4 1.5px;
    border-radius: 100%;
    padding: 10px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.article_link img {
    width: 20px;
    color: white;
}

.article_photo {
    margin: 20.5px 24px 17.5px 24px;
    height: 104px;
    border-radius: 10px 40px 10px 40px;
    overflow: hidden;
}

.article_photo img {
    width: 100%;
    object-fit: contain;
}

.article_title {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 0px 58px 0px 34px;
}

.article_title em {
    color: white;
}

.article_title p {
    color: #F3F4F5;
}

.article_text {
    padding: 10.5px 49px 37px 34px;
}

/*==================== MAIN WALLET ALL ====================*/
.risk_container {
    padding: 27px 32px 27px 45px;
    border-bottom-left-radius: 20% 40%;
}

.risk_container.ado {
    border-bottom-left-radius: 0;
    border-top-left-radius: 80px 80px;
}

.risk_title {
    font-size: 16px;
    font-weight: 400;
    color: #111125;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.risk_title div {
    display: flex;
    align-items: center;
}

.risk_title mark {
    opacity: 70%;
    background-color: white;
}

.risk_title strong {
    font-size: 20px;
    opacity: 100%;
}

.risk_title_bullet {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 7px;
}

.risk_progress {
    width: 100%;
    height: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
}

.risk_progress span {
    display: inline-block;
    height: 100%;
    width: 50%;
    border-radius: 30px;
}

.risk_legend,
.risk_legend_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.risk_legend {
    gap: 25px;
}

.durability {
    padding: 20px 21px 21px 28px;
}

.durability.ado {
    padding: 32px 21px 21px 28px;
    border-top-left-radius: 80px 80px;
    overflow: hidden;
}

.durability h2,
.repartition h2 {
    margin-bottom: 19px;
}

.durability h2.ado {
    margin-left: 21px;
}

.durability_cards {
    gap: 4%;
}

.durability_cards p {
    font-size: 11px;
    font-weight: 500;
}


.durability_cards_container {
    box-sizing: border-box;
    width: 48%;
    height: 139px;
    padding: 15px;
    background-color: #343443;
    border-radius: 30px;
    position: relative;
}

.durability_cards_container.ado {
    background-color: #2D1F5A;
}

.durability_cards_container_number {
    position: relative;
}


.durability_cards_container_number,
.durability_cards_container_number svg {
    height: 70px;
    width: 70px;
}

.durability_cards_container_number div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.durability_cards_container_number h4 {
    font-weight: 700;
    font-size: 28px;
}

.durability_cards_container_number span {
    font-size: 11px;
}

.durability_cards_container_number.home circle,
.durability_cards_container_number.wallet_investment circle,
.durability_cards_container_number.wallet_footprint circle,
.durability_cards_container_number.home_ado circle,
.durability_cards_container_number.wallet_ado_investment circle,
.durability_cards_container_number.wallet_ado_footprint circle {
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-dasharray: 198;
}


.durability_cards_container img {
    position: absolute;
    z-index: 0;
}

.durability_cards_image_investment {
    bottom: -10px;
    right: -25px;
}

.durability_cards_image_footprint {
    bottom: -5px;
    right: 5px;
}

.repartition {
    padding: 0px 40px 0px 36px;
}

.repartition.ado {
    padding: 30px 40px 39px 36px;
    border-top-left-radius: 80px 80px;
}

.repartition_container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.repartition_container span {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin-right: 12px;
    background-color: #2594DD;
}

.evolution {
    padding: 28px 16px 30px 28px;
}

.evolution_container {
    padding: 22px 15px 32px 20px;
    background-color: #343443;
    border-radius: 20px;
}

.evolution_container a {
    text-decoration: none;
    color: white;
}

.evolution_container_number {
    display: flex;
    gap: 9px;
    align-items: center;
}

.evolution_container_number h3 {
    font-size: 13px;
    font-weight: 500;
    display: flex;
}

.evolution_container_number strong {
    font-size: 11px;
    color: #27B17C;
}

.evolution_container_number img {
    width: 12px;
    height: 12px;
}

.evolution_container p {
    font-size: 11px;
    color: #7C7C8B;
}

.evolution_border {
    padding-bottom: 17px;
    margin-bottom: 17px;
    border-bottom: solid 1.5px #53535F;
}

.evolution_progress {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 11px;
}

.evolution_progress_container {
    height: 14px;
    background-color: #111125;
    border-radius: 30px;
    flex: 1;
}

.evolution_progress_bar {
    height: 14px;
    background-color: #2594DD;
    border-radius: 30px;
    width: 30%;
    position: relative;
}

.evolution_progress_bar span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    right: 0px;
    top: -2px;
}

.evolution_progress p {
    font-size: 14px;
    color: white;
}

.wallet_cards_container {
    padding-left: 21px;
    overflow-x: scroll;
    display: flex;
    flex: none;
    flex-wrap: none;
    gap: 18px;
}

.wallet_card {
    flex: none;
    width: 144px;
    height: 153px;
    padding: 22px 18px 16px 22px;
    border-radius: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wallet_card div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wallet_card img {
    margin-left: 6px;
}

.wallet_card a {
    text-decoration: none;
}

.wallet_card span {
    text-align: end;
    color: #27B17C;
    font-size: 14px;
}

.wallet_cards_number {
    padding: 28px 35px 45px 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wallet_cards_number img {
    height: 25px;
    width: 25px;
    margin-left: 12px;
    cursor: pointer;
}


/*==================== MAIN WALLET ANALYSE ====================*/
.main_wallet_analyse {
    min-height: calc(100vh - 282px);
    padding: 31px 24px;
}

.main_wallet_analyse.ado {
    padding: 51px 24px;
    border-top-left-radius: 80px 80px;
}

.market_trends h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 18px;
}

.market_trends h2[class="ado"] {
    margin-bottom: 5px;
    margin-left: 20px;
}

.market_trends h3 {
    font-size: 18px;
    font-weight: 700;
    color: #F7A827;
    margin-bottom: 34px;
}

.market_trends h3[class="ado"] {
    color: #27B17C;
    margin-bottom: 45px;
    margin-left: 20px;
}

.market_trends_cards {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    color: white;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.market_trends_cards_container {
    background-color: #343446;
    height: 156px;
    padding: 22px 0px;
    width: calc(48%);
    border-radius: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.market_trends_cards_container.ado {
    background-color: #ffffff29;
}

.market_trends_cards_container p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 18px;
}

.market_trends_cards_container strong {
    font-size: 16px;
}

.market_trends_cards_container img {
    max-width: 100%;
}

/*==================== MAIN WALLET ONE ====================*/
.main_wallet_one {
    min-height: calc(100vh - 234px);
}

.wallet_infos {
    padding: 28px 40px 42px 50px;
    font-size: 14px;
    font-weight: 400;
    color: #111125;
    text-transform: capitalize;
    border-bottom-left-radius: 20% 40%;
}

.wallet_infos.ado {
    padding: 37px 40px 42px 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 80px 80px;
}

.wallet_infos a {
    color: #111125;
}

.wallet_infos_border {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: solid 1.5px #DADDE8;
}

.wallet_history {
    padding-top: 35px;
    gap: 12px;
}

.wallet_history_date,
.wallet_history_number {
    padding-left: 50px;
    z-index: 2;
}

.wallet_history.ado {
    border-top-left-radius: 80px 80px;
}

.wallet_history_date strong {
    font-size: 16px;
}

.wallet_history_number strong {
    font-size: 30px;
}

.wallet_history_number img {
    margin-left: 10px;
    width: 33.5px;
    height: 33.5px;
}



/*==================== FOOTER ====================*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 99;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
    min-width: 320px;
    max-width: 425px;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 18%;
}

footer img {
    height: 20px;
    opacity: 40%;
}

footer img:hover,
.footer_active {
    opacity: 100%;
}