/*==================== RESET CSS ====================*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/*==================== REM ET VARIABLES ====================*/

body {
    font-size: 16px;
    min-width: 320px;
    max-width: 425px;
    margin: auto;
}

main {
    margin-bottom: 75px;
}



/*==================== TYPE DE POLICE ====================*/
* {
    font-family: 'Montserrat', sans-serif;
}


/*==================== BACKGROUND ====================*/

.background_dark {
    background-color: #111125;
}

/*==================== HEADER HOME ====================*/
.header_home {
    background-color: #f5a017;
    padding: 25px 35px 38px 35px;
    border-bottom-left-radius: 20% 40%;
}

.header_home_title {
    color: rgba(17, 17, 37, 1);
    margin: 0px 0px 19px 17px;
    display: flex;
    justify-content: space-between;
}

.header_home_title h1 {
    font-size: 14px;
    font-weight: 600;
}

.header_home_title img {
    width: 18px;
}

.header_home_title_notification {
    position: relative;
}

.header_home_title_notification_number {
    font-size: 11px;
    font-weight: 700;
    color: #E5793B;
    background-color: white;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
}

.header_home_content {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 700;
}

.header_home_content_name {
    font-size: 15px;
    margin-bottom: 4px;
}

.header_home_content_name strong {
    font-size: 19px;
}

.header_home_content_name_value {
    font-size: 23px;
}


/*==================== HEADER WALLET ====================*/
.header_wallet {
    background-color: #f5a017;
    padding: 25px 14px 31px 14px;
    border-bottom-left-radius: 20% 40%;
}

.header_wallet_title {
    margin-bottom: 19px;
}

.header_wallet_title_icons {
    color: rgba(17, 17, 37, 1);
    margin: 0px 22px 0px 11px;
    display: flex;
    justify-content: space-between;
}

.header_wallet_title_icons img {
    width: 20px;
}

.header_wallet_title_notification img {
    width: 18px;
}

.header_wallet_title h1 {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}

.header_wallet_title_notification {
    position: relative;
}

.header_title_notification_number {
    font-size: 11px;
    font-weight: 700;
    color: #E5793B;
    background-color: white;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
}

.header_wallet_tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.header_wallet_tabs a {
    text-decoration: none;
}

.header_wallet_tabs a[class="non_current"] {
    color: #E9EBF2;
}

.header_wallet_tabs a[class="current"] {
    font-weight: 600;
    color: #111125;
    background-color: white;
    padding: 4px 13px;
    border-radius: 11px;
}


/*==================== MAIN HOME ====================*/

.progress {
    background-color: rgba(17, 17, 37, 1);
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.progress strong {
    font-weight: 700;
    font-size: 20px;
}

.progress_date,
.progress_origin {
    width: 50%;
    padding: 23px 0px 28px 0px;
}

.progress_date {
    background-color: white;
    border-bottom-left-radius: 20% 40%;
}

.progress_origin {
    background-color: rgb(233, 235, 242);
}

.progress_date_number,
.progress_origin_number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 4px;
}

.progress img {
    width: 16px;
    border-radius: 100%;
    padding: 5px;
}

.progress_date_number img {
    background-color: #D85B52;
}

.progress_origin_number img {
    background-color: #27B17C;
}


.market {
    background-color: rgba(17, 17, 37, 1);
    color: white;
}

.market_title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 30px 14px 16px 36px;
}

.market_title h2 {
    font-size: 16px;
    opacity: 70%;
    font-weight: 400;
}

.market_title a {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.market_title span {
    font-weight: 500;
}

.market_graph {
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.profil {
    background-color: rgba(17, 17, 37, 1);
    padding: 50px 24px 37px 24px;
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.profil_state,
.profil_footprint {
    width: 50%;
    height: 139px;
    background-color: #EFEFEF;
    border-radius: 30px;
    padding: 4%;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
}

.profil strong {
    font-size: 17px;
    font-weight: 700;
}

.profil_state {
    align-items: flex-end;
}


.article {
    background-color: rgba(17, 17, 37, 1);
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.article_link {
    margin: 0px 39px 0px 32px;
    font-size: 16px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_link h2 {
    font-size: 16px;
    font-weight: 600;
}

.article_link a {
    color: white;
    background-color: rgba(17, 17, 37, 1);
    border: solid #E4E4E4 1.5px;
    border-radius: 100%;
    padding: 10px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.article_link img {
    width: 20px;
    color: white;
}

.article_photo {
    margin: 20.5px 24px 17.5px 24px;
    height: 104px;
    border-radius: 10px 40px 10px 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.article_title {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 0px 58px 0px 34px;
}

.article_title strong {
    font-weight: 600;
    color: white;
}

.article_title p {
    font-weight: 400;
    color: #F3F4F5;
}

.article_text {
    padding: 10.5px 49px 37px 34px;
}

/*==================== MAIN WALLET ANALYSE ====================*/
.main_wallet_analyse{
    min-height: calc(100vh - 282px);
    padding: 31px 24px;
}

.market_trends h2{
    font-size: 20px;
    font-weight: 700;
    color:white;
    margin-bottom: 18px;
}

.market_trends h3{
    font-size: 18px;
    font-weight: 700;
    color:#F7A827;
    margin-bottom: 34px;
}

.market_trends_cards{
    display: flex;
    justify-content: space-between;
    gap: 4%;
    color:white;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.market_trends_cards_container{
    background-color: #343446;
    height: 156px;
    padding:22px 0px;
    width: calc(48%);
    border-radius: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.market_trends_cards_container p{
    text-align: center;
    font-size:13px;
    font-weight: 400;
}

.market_trends_cards_container strong{
    font-size:16px;
    font-weight: 700;
}

.market_trends_cards_container img{
    width: 100px;
}



/*==================== FOOTER ====================*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 99;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
    min-width: 320px;
    max-width: 425px;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 18%;
}

footer img {
    height: 20px;
    opacity: 40%;
}

footer img:hover {
    opacity: 100%;
}